/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    background: #000;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.dark-bg{
	background: #191919;
}

.container > header {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 2.875em 0.475em 0em 0.475em;
	border-bottom: solid 1px #777;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 200;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.left{
	float: left;
}

.right{
	float: right;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.header-bot {
	width: 100%;
	max-width: 960px;
	margin: 2px auto 2.8em;
	position: relative;
}

.container > header nav ,
.header-bot > nav{
	text-align: center;
	padding-top: 7px;
}

.container > header nav a ,
.header-bot > nav a{
	display: inline-block;
	position: relative;
	margin: 0 0.9em;
	color: #A0A0A0;
	font-weight: 400;
	font-size: 16px;
}

.container > header nav a > span {
	display: none;
}

nav > ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

nav > ul li{
	display: inline-block;
	list-style-type: none;

}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;

}

.container > header nav a:hover,
.container > header nav li.active a,
.header-bot > nav a:hover,
.header-bot > nav li.active a{
	color: #fff;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}
.filters{
	text-align: center;
	width: 200px;
	margin: auto;
}
.filters a{
	display: inline-block;
	padding: 3px 10px;
	color: #A0A0A0;
	border: solid 1px #A0A0A0;
	margin-top: 13px;
	font-size: 15px;
	cursor: pointer;
}
.filters a:hover,
.filters a:focus{
	color: #ffffff;
	border: solid 1px #ffffff;
}
.filters a span.text{
	position: relative;
	top: -1px;
}
.filters a span.icon{
	display: inline-block;
	margin-left: 7px;
}
.show-div{
	display: none;
}
.footer-nav{
	width: 100%;
	padding: 2px 0px;
	text-align: center;
	max-width: 960px;
	border-top: solid 1px #777;	
	margin: 20px auto 0px;
}
.footer-nav li{
	margin-left: 35px;
}
.footer-nav li a,
.footer-nav li a:hover,
.footer-nav li a:focus{
	color: #bfbfbf;
}
.footer-nav li:first-child{
	margin-left: 0px;
}
.copy{
	width: 100%;
	max-width: 960px;
	margin: auto;
	text-align: center;
	color: #A0A0A0;
	padding-top: 5px;
	padding-bottom: 10px;
}


@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto 20px;
	}

	.container > header > span {
		text-indent: 30px;
	}
}


@media screen and (max-width: 35em) {
	
	.hide-div{
		display: none; 
	}
	.hide-div a{
		
	}
	.show-div{
		display: block;
	}
	.header-bot nav {
		position: absolute;
		background: rgba(0, 0, 0, 0.91);
		margin: 0px 22px;
		padding: 10px;
		z-index: 10;
		text-align: left;
		left: 0px;
		right: 0px;
	}
	.header-bot nav li,
	.header-bot nav li a{
		display: block;
	}
	.header-bot nav li a{
		padding: 5px 0px;
	}
	.header-bot{
		margin: 0.8em auto 1.8em;
	}
}