<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>UFOLIO</title>
		<meta name="description" content="Demo" />
		<meta name="keywords" content="Demo" />
		<meta name="author" content="Demo" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="https://raw.githubusercontent.com/blueimp/Bootstrap-Image-Gallery/master/css/bootstrap-image-gallery.min.css">
	
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="js/modernizr.custom.js"></script>

	</head>
	<body ng-app="uflo">
		<div class="container" >
			<header class="clearfix">
				<h1 ng-controller="ufloMyCtrl">
					<a href="">
					{{graphers_detail.name | ucwords}}
					<img ng-if="graphers_detail.auth=='yes'" src="img/verified.jpeg" >
					<img  ng-if="graphers_detail.auth=='no'" src="img/pending.png" style="width: 27px;">

						<!-- <img src="img/logo.png"> -->
					</a>
				</h1>
				
				<nav class="right">
					<ul >
						<li>
							<a href="#/ps" is-active-nav>Photography</a>
						</li>
						<li>
							<a href="#/bio" is-active-nav>Bio</a>
						</li>
						<li>
							<a href="" is-active-nav>Contact</a>
						</li>
					</ul>
				</nav>
			</header>


			<div ng-view></div>


			<div class="footer-nav">
				<nav>
					<ul>
						<li><a href="">Search</a></li>
						<li><a href="">Events</a></li>
						<li><a href="">Jobs</a></li>
					</ul>
				</nav>
			</div>

			<div class="copy">
				<i>Powered by</i> UFOLIO
			</div>
		</div>
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.blueimp-gallery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-image-gallery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="js/myangularpkgs/myroutes.js"></script>
		<script type="text/javascript" src="js/myangularpkgs/mydirective-filter.js"></script>
		<script type="text/javascript" src="js/myangularpkgs/mycontroller.js"></script>
	
	</body>
</html>
