<div id="grid-gallery" class="grid-gallery content">
	<section id="#tab1" class="current-tab" style="display:block">
		<section class="grid-wrap dark-bg">
			<ul class="grid clearfix">
				<li class="grid-sizer"></li>
			<div >
				<li >
				
					<figure>
						<a href="http://www.fuelyourcreativity.com/files/getinspiredwallpaper.jpg" title="Banana" data-gallery>
	        <img src="http://www.fuelyourcreativity.com/files/getinspiredwallpaper.jpg" alt="Banana">
					</figure>
				</li>
				<li >
				
					<figure>
						<a href="http://th06.deviantart.net/fs70/PRE/i/2014/084/d/8/web_developer_wallpaper__code__by_plusjack-d7bmt54.jpg" title="Apple" data-gallery>
		        <img src="http://th06.deviantart.net/fs70/PRE/i/2014/084/d/8/web_developer_wallpaper__code__by_plusjack-d7bmt54.jpg" alt="Apple">
		    </a>
					</figure>
				</li>
				<li>
				
					<figure>
						<a href="http://i.imgur.com/u2oPC.jpg" title="Orange" data-gallery>
		        <img src="http://i.imgur.com/u2oPC.jpg" alt="Orange">
		    </a>	
					</figure>
				</li>
			</div>
			</ul>
		</section>			
	</section>			
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div  id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>