<div class="dio-container">
				<div class="bio">
					<div class="table full-width">
						<div class="table-cell img">
							<img src="{{bio_data.disp_pic}}">
						</div>

						<div class="table-cell text">
							<p>{{bio_data.detail}}</p>
						</div>
					</div>

					<div class="map">
						<img src="img/map.png">
					</div>	
				</div>
			</div>
