
				<div class="header-bot">
					<div class="filters show-div">
						<a>
						    <span class="text">Menu</span> 
						    <span class="icon">&#9776;</span>
						</a>
					</div>

					<nav class="hide-div">
						<ul class="tab-menu" >
							<li class="" ng-repeat="tabs in active_tabs">
								<a href="" ng-click="detect_tab(tabs.tab_name)">
									{{tabs.tab_name | ucfirst}}
								</a>
							</li>
							
						</ul>
					</nav>
				
				</div>
		
<div ng-init="tab_name='Popular'" id="grid-gallery" class="grid-gallery content">
	<section id="#tab1" class="current-tab" style="display:block">
		<section class="grid-wrap dark-bg">
			<ul class="grid clearfix">
				<li class="grid-sizer"></li>
			<div ng-repeat="detail in gallery_data | filter:{'name':tab_name}">
				
				<li ng-repeat="pic in detail.photos">
				
					<figure>
						<a href="{{pic}}" title="Apple" data-gallery>
		       			<img src="{{pic}}" alt="Apple">
		    </a>
					</figure>
				</li>
			
			</div>
			</ul>
		</section>			
	</section>			
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div  id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>